**Project MET5** 
Lallu 
Jyoti
Ina
Magda

Burnt Areas in Burkina Faso

Import of libraries:

In [1]:
import datacube
from datetime import datetime
from datetime import timedelta
import pandas as pd
import xarray as xr
import numpy as np
import matplotlib.pyplot as plt
from zipfile import ZipFile
import geopandas as gpd
from pyproj import Proj, transform
from datacube.utils.cog import write_cog
from odc.ui import with_ui_cbk

from deafrica_tools.datahandling import load_ard, mostcommon_crs
from deafrica_tools.plotting import rgb, display_map
from deafrica_tools.bandindices import calculate_indices

Create connection to WASCAL data cube with a unique app name.

In [2]:
dc = datacube.Datacube(app="Burnt_area_mapping")

View List of Products in the Datacube

In [3]:
dc.list_products()

,name,description,license,default_crs,default_resolution
name,,,,,
ls7_sr,ls7_sr,USGS Landsat 7 Collection 2 Level-2 Surface Re...,CC-BY-4.0,None,None
ls7_st,ls7_st,USGS Landsat 7 Collection 2 Level-2 Surface Te...,CC-BY-4.0,None,None
ls8_sr,ls8_sr,USGS Landsat 8 Collection 2 Level-2 Surface Re...,CC-BY-4.0,None,None
ls8_st,ls8_st,USGS Landsat 8 Collection 2 Level-2 Surface Te...,CC-BY-4.0,None,None
s2_l2a,s2_l2a,"Sentinel-2a and Sentinel-2b imagery, processed...",None,None,None
wofs_ls,wofs_ls,Historic Flood Mapping Water Observations from...,CC-BY-4.0,None,None

Look up specifications of product

In [6]:
product = "ls8_st"
measurements = dc.list_measurements()
measurements.loc[product]

,name,dtype,units,nodata,aliases,flags_definition
measurement,,,,,,
ST_B10,ST_B10,uint16,Kelvin,0,"[band_10, st, surface_temperature]",NaN
ST_TRAD,ST_TRAD,int16,W/(m2.sr.μm),-9999,"[trad, thermal_radiance]",NaN
ST_URAD,ST_URAD,int16,W/(m2.sr.μm),-9999,"[urad, upwell_radiance]",NaN
ST_DRAD,ST_DRAD,int16,W/(m2.sr.μm),-9999,"[drad, downwell_radiance]",NaN
ST_ATRAN,ST_ATRAN,int16,1,-9999,"[atran, atmospheric_transmittance]",NaN
ST_EMIS,ST_EMIS,int16,1,-9999,"[emis, emissivity]",NaN
ST_EMSD,ST_EMSD,int16,1,-9999,"[emsd, emissivity_stddev]",NaN
ST_CDIST,ST_CDIST,int16,Kilometers,-9999,"[cdist, cloud_distance]",NaN
QA_PIXEL,QA_PIXEL,uint16,bit_index,1,"[pq, pixel_quality]","{'snow': {'bits': 5, 'values': {'0': 'not_high..."
QA_RADSAT,QA_RADSAT,uint16,bit_index,0,"[radsat, radiometric_saturation]","{'nir_saturation': {'bits': 4, 'values': {'0':..."
ST_QA,ST_QA,int16,Kelvin,-9999,"[st_qa, surface_temperature_quality]",NaN

Data availibility

landsat 8_sr data available every 16 days\
for January/February 2020: 01-07, 01-23, 02-08, 02-24

In [ ]:
from odc.ui import DcViewer

dcv = DcViewer(dc,time='2020-01-07', center=(12,1), zoom=6)
dcv

Display Research Area

In [ ]:
from dea_tools.plotting import display_map
display_map([-4.00 ,-3.79],[11.75 ,11.36], crs = 'EPSG:4620')

In [8]:
# Define the area of interest
lat = 11.564
lon = -3.861
buffer = 0.2

# Compute the bounding box for the study area
lat_range = (lat-buffer, lat+buffer)
lon_range = (lon-buffer, lon+buffer)

Define Fire Period

In [9]:
# Fire event date
fire_date = '2019-12-01'

# Length of baseline period
baseline_length = '3 months'

In [ ]:
display_map(x=lon_range, y=lat_range)

In [10]:
# Define load parameters
resolution = (-30, 30)
measurements = ['blue', 'green', 'red',
                'nir', 'swir_1', 'swir_2', 'pixel_quality', 'radiometric_saturation']
#min_gooddata = 0.6

In [11]:
# Choose the Sentinel-2 products to load
products = ["ls8_sr"]

# Create a reusable query
query = {
    "x": lon_range,
    "y": lat_range,
    "resolution": resolution,
    "measurements": measurements
}

# Since this analysis calculates pixel areas,
# set the output projection to equal area projection EPSG:6933
output_crs = "EPSG:6933"

# Load all data in basline period avalible from ARD data
baseline_ard = load_ard(dc=dc,
                        products=products,
                        time=('2019-12-31', '2020-02-29'),
                        #min_gooddata=min_gooddata,
                        output_crs=output_crs,
                        group_by='solar_day',
                        collection_category='T1',
                        **query)

Using pixel quality parameters for USGS Collection 2
Finding datasets
    ls8_sr

TypeError: datacube.api.core.Datacube.find_datasets() got multiple values for keyword argument 'collection_category'